<header>
<h1>{{title}}</h1>

<div>
    <a href="/indexSingle">Value on single date</a>
    <a href="/indexDouble">Value on range of dates</a>
    <a href="/indexCbrDouble">Value on range of CBR</a>
    <a href="/indexNbrbSingle">Value on singe data on Nbrb</a>
    <a href="/indexNbrbDouble">Value on range data on Nbrb</a>
    <a href="/currentValues">Values on current time</a>
</div>
</header>